.citation{
  color: var(--couleur-blanc);
  background-image: url("../images/bg-citation.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 115%;
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
}